{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-manufacturer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-manufacturer" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
			<li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
			<li><a href="#tab-related" data-toggle="tab">{{ tab_related }}</a></li>
			<li><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
          </ul>
			  <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
			<div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  {% if config_autocomplete_url %}
                  <input type="text" name="name" onchange="seoUrlFill(this.value,'manufacturer');" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% else %}
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% endif %}
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}</div>
              </div>
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
				  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-h1{{ language.language_id }}">{{ entry_meta_h1 }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="manufacturer_description[{{ language.language_id }}][meta_h1]" value="{{ manufacturer_description[language.language_id] ? manufacturer_description[language.language_id].meta_h1 }}" placeholder="{{ entry_meta_h1 }}" id="input-meta-h1{{ language.language_id }}" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="manufacturer_description[{{ language.language_id }}][meta_title]" value="{{ manufacturer_description[language.language_id] ? manufacturer_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="manufacturer_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ manufacturer_description[language.language_id] ? manufacturer_description[language.language_id].meta_description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="manufacturer_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ manufacturer_description[language.language_id] ? manufacturer_description[language.language_id].meta_keyword }}</textarea>
                    </div>
                  </div>

                  <!-- SEO Tags Generator : Preview . begin -->
                  {% if (stg_status) %}
                  <div style="border: 2px dashed #ccc; padding: 15px;">
                    <h4>{{ text_stg_preview }}</h4>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" style="padding-top: 0;">{{ entry_meta_title }}</label>
                      <div class="col-sm-10">
                        {{ stg_preview[language['language_id']]['meta_title'] }}
                      </div>
                    </div>
                    {% if (stg_preview[language['language_id']]['meta_h1'] is defined) %}
                    <div class="form-group">
                      <label class="col-sm-2 control-label" style="padding-top: 0;">{{ entry_meta_h1 }}</label>
                      <div class="col-sm-10">
                        {{ stg_preview[language['language_id']]['meta_h1'] }}
                      </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                      <label class="col-sm-2 control-label" style="padding-top: 0;">{{ entry_meta_description }}</label>
                      <div class="col-sm-10">
                        {{ stg_preview[language['language_id']]['meta_description'] }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" style="padding-top: 0;">{{ entry_meta_keyword }}</label>
                      <div class="col-sm-10">
                        {{ stg_preview[language['language_id']]['meta_keyword'] }}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <!-- SEO Tags Generator : Preview . end -->

				  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="manufacturer_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ manufacturer_description[language.language_id] ? manufacturer_description[language.language_id].description }}</textarea>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
			  <div class="tab-pane" id="tab-data">
              <div class="form-group">
				<label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for store in stores %}
                    <div class="checkbox">
                      <label>{% if store.store_id in manufacturer_store %}
                        <input type="checkbox" name="manufacturer_store[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="manufacturer_store[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}</label>
                    </div>
                    {% endfor %}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="manufacturer_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if manufacturer_seo_url[store.store_id][language.language_id] %}{{ manufacturer_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" id="input-seo-url-{{ store.store_id }}-{{ language.language_id }}" data-seo-url-was="{% if manufacturer_seo_url[store.store_id][language.language_id] %}{{ manufacturer_seo_url[store.store_id][language.language_id] }}{% endif %}"/>{% if manufacturer_id %}<span class="input-group-btn"><button id="generateUrlOnEdit-{{ store.store_id }}-{{ language.language_id }}" class="generateUrlOnEdit btn btn-success" data-store-id="{{ store.store_id }}" data-language-id="{{ language.language_id }}" data-source-language-id="{{ module_seo_url_generator_language[language.language_id] }}"><i class="fa fa-refresh"></i> {{ sug_button_generate }}</button></span>{% endif %}
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %} 
                      {% endfor %}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
			  <div class="form-group">
                <label class="col-sm-2 control-label" for="input-noindex">{{ entry_noindex }}</label>
                <div class="col-sm-10">
                  <select name="noindex" id="input-noindex" class="form-control">
                    {% if noindex %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
				</div>
            </div>
			<div class="tab-pane" id="tab-related">
			   <div class="form-group">
                <label class="col-sm-2 control-label" for="input-product-related"><span data-toggle="tooltip" title="{{ help_related }}">{{ entry_related_mn }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="product_related_input" value="" placeholder="{{ entry_related_mn }}" id="input-product-related" class="form-control" />
                  <div id="product-related" class="well well-sm" style="height: 150px; overflow: auto;"> {% for product_related in product_related %}
                    <div id="product-related{{ product_related.product_id }}"><i class="fa fa-minus-circle"></i> {{ product_related.name }}
                      <input type="hidden" name="product_related[]" value="{{ product_related.product_id }}" />
                    </div>
                    {% endfor %}</div>
                </div>
               </div>
			   <div class="form-group">
                <label class="col-sm-2 control-label" for="input-article-related"><span data-toggle="tooltip" title="{{ help_related }}">{{ entry_related_article }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="article_related_input" value="" placeholder="{{ entry_related_article }}" id="input-article-related" class="form-control" />
                  <div id="article-related" class="well well-sm" style="height: 150px; overflow: auto;"> {% for article_related in article_related %}
                    <div id="article-related{{ article_related.article_id }}"><i class="fa fa-minus-circle"></i> {{ article_related.name }}
                      <input type="hidden" name="article_related[]" value="{{ article_related.article_id }}" />
                    </div>
                    {% endfor %}</div>
                </div>
               </div>
            </div>
          <div class="tab-pane" id="tab-design">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_layout }}</td>
                    </tr>
                  </thead>
                  <tbody>

                    {% for store in stores %}
                    <tr>
                      <td class="text-left">{{ store.name }}</td>
                      <td class="text-left"><select name="manufacturer_layout[{{ store.store_id }}]" class="form-control">
                          <option value=""></option>
                          {% for layout in layouts %}
                          {% if manufacturer_layout[store.store_id] and manufacturer_layout[store.store_id] == layout.layout_id %}
                          <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                          {% else %}
                          <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>  
  
<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
<script type="text/javascript"><!--
$('input[name=\'product_related_input\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'product\']').val('');
		
		$('#product-related' + item['value']).remove();
		
		$('#product-related').append('<div id="product-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_related[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#product-related').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'article_related_input\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=blog/article/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['article_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'product\']').val('');
		
		$('#article-related' + item['value']).remove();
		
		$('#article-related').append('<div id="article-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="article_related[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#article-related').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
</div>

<!-- SEO URL Generator . Begin
============================================================================ -->
{% if (module_seo_url_generator_status) %}
<script type="text/javascript">
  $('#tab-seo .text-left .input-group').css('margin-bottom', '10px');

  $.each($('#tab-seo .text-left'), function () {      
    $(this).children('.input-group:last').css('margin-bottom', 'initial');
  });

  {% if (not manufacturer_id) %}
    
    $('#input-name').change(function(){ generateUrlOnAdd(); });

    function generateUrlOnAdd() {
      let a_lang_data = {
        name: {}
      };
      
      {% for language in languages %}
      a_lang_data['name'][{{ language.language_id }}] = $('#input-name').val();
      {% endfor %}
            
      data = {
        a_lang_data     : a_lang_data,
        primary_key     : 'manufacturer_id',
        essence         : 'manufacturer',
        essence_id      : ''
      };

      // is different from edit
      $.ajax({
        url: 'index.php?route=extension/module/seo_url_generator/generateSeoUrlByAjax4All&user_token={{ user_token }}',
        dataType: 'json',
        data: data,
        method : 'POST',
        beforeSend: function() {},
        success: function(response, textStatus, jqXHR) {
          // success ajax query
          if(response.result != 'error') {
            setTimeout(function() {      
              $.each(response.result, function (store_id, store) {
                $.each(store, function (language_id, value) {
                  if ('' !== value) {
                    $('input[name="manufacturer_seo_url[' + store_id +'][' + language_id + ']"]').val(value);
                  }
                });
              });
            }, 100);
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          // Error ajax query
          console.log('AJAX query Error: ' + textStatus);
        },
        complete: function() {},
      });
    }

  {% else %}   

    var storeId = false;      
    var languageId = false;
    
    // enque redirects .generateUrlOnEdit firstly
    var url_redirects_rows = {};
    
    {% for store in stores %}
    url_redirects_rows[{{ store.store_id }}] = {};
    
    {% for language in languages %}
    url_redirects_rows[{{ store.store_id }}][{{ language.language_id }}] = 0;
    
    {% endfor %}
    {% endfor %}
    
    {% for store in stores %}
    {% for language in languages %}
   
      var html = '';
      html += '<div class="form-group">';
      html += '<label class="col-sm-2 control-label">{{ sug_text_redirects }}</label>';
      html += '<!-- manufacturer-redirects . begin -->';
      html += '<div class="col-sm-10">';
      html += '<div class="alert alert-info alert-sm">{{ sug_help_redirects }}</div>';
      html += '<div id="seo_url_generator_redirects-{{ store.store_id }}-{{ language.language_id }}">';
      
      {% for key, redirect in redirects[store['store_id']][language['language_id']] %}
      {% if redirects[store['store_id']][language['language_id']][key] %}
      html += '<div id="redirect-row-{{ store.store_id }}-{{ language.language_id }}-' + url_redirects_rows[{{ store.store_id }}][{{ language.language_id }}] + '" class="row redirect-row" style="margin: 10px 0;"><input type="text" name="seo_url_generator_redirects[{{ store.store_id }}][{{ language.language_id }}][{{ key }}]" value="{{ redirects[store['store_id']][language['language_id']][key] }}" class="form-control input-sm col-xs-10" style="width: 100%; width: calc(100% - 120px); {% if error_seo_url_generator_redirects[store['store_id']][language['language_id']][key] is defined %}border-color: red;{% endif %}"/><div class="col-xs-1"><i class="pull-left fa fa-close text-danger deleteRedirect" style="cursor: pointer;" data-toggle="tooltip" title="{{ sug_button_delete_redirect }}"></i></div></div>';
      url_redirects_rows[{{ store.store_id }}][{{ language.language_id }}]++;
      {% endif %}
      {% endfor %}	
      html += '</div>';
      html += '<!-- /manufacturer-redirects . end -->';
      html += '<button id="addNewRedirect-{{ store.store_id }}-{{ language.language_id }}" class="addNewRedirect btn btn-warning btn-sm" data-store-id="{{ store.store_id }}" data-language-id="{{ language.language_id }}" data-source-language-id="{{ module_seo_url_generator_language[language.language_id] }}"><i class="fa fa-plus"></i> {{ sug_button_add_redirect }}</button>';
      html += '</div>';
      html += '</div>';
      
      <!-- Front works properly mark -->
      html += '<input type="hidden" name="seo_url_generator_front_works" />';
      
      //console.log('#generateUrlOnEdit-' + {{ store.store_id }} + '-' + {{ language.language_id }});
      //console.debug(html);
      
      $('#generateUrlOnEdit-' + {{ store.store_id }} + '-' + {{ language.language_id }}).parent().parent().after(html);
            
    {% endfor %}
    {% endfor %}
    
    $('.addNewRedirect').click(function(e) {
      e.preventDefault();
      
      var store_id = $(this).data('store-id');
      var language_id =  $(this).data('language-id');
      
      console.log('$(this).data("store-id") : ' + $(this).data('store-id'));
      console.log('$(this).data("language-id") : ' + $(this).data('language-id'));
      console.log('#seo_url_generator_redirects-" + store_id + "-" + language_id : #seo_url_generator_redirects-' + store_id + '-' + language_id);

      $('#seo_url_generator_redirects-' + store_id + '-' + language_id).append('<div id="redirect-row-' + '-' + store_id + '-' + language_id + '-' + url_redirects_rows[store_id][language_id] + '" class="row redirect-row recent" style="margin: 10px 0;"><input type="text" name="seo_url_generator_redirects[' + store_id + '][' + language_id + '][]" value="" class="form-control input-sm col-xs-10" style="width: 100%; width: calc(100% - 120px);" /><div class="col-xs-1"><i class="pull-left fa fa-close text-danger deleteRedirect" style="cursor: pointer;" data-toggle="tooltip" title="{{ sug_button_delete_redirect }}"></i></div></div>');

      url_redirects_rows[store_id][language_id]++;
    });

    $('body').on('click', '.deleteRedirect', function(e) {
      e.preventDefault();
      $('#sug-btn-confirm').attr('data-target', '#' + $(this).parent().parent('.redirect-row').attr('id'));		
      $('#sug-confirm').modal('toggle');    
    });

    $('body').on('click', '#sug-btn-confirm', function(e) {
      e.preventDefault();		
      $($(this).attr('data-target')).remove();		
      $('#sug-confirm').modal('toggle');
    });
    
    
    // SEO URL Generation by button click
  
    thisButton = false;
    
    $('.generateUrlOnEdit').click(function(e) {
      e.preventDefault();
      
      storeId = $(this).data('store-id');      
      languageId = $(this).data('language-id');
      sourceLanguageId = $(this).data('source-language-id'); 
      thisButton = $(this);
            
      data = {
        store_id        : storeId,
        language_id     : languageId,
        name            : $('#input-name').val(),
        primary_key     : 'manufacturer_id',
        essence         : 'manufacturer',
        essence_id      : {{ manufacturer_id }}
      };     

      getSeoUrl(data);
    });
    
    // is different from add
    function getSeoUrl(data) {
      $.ajax({
        url: 'index.php?route=extension/module/seo_url_generator/generateSeoUrlByAjax4One&user_token={{ user_token }}',
        dataType: 'json',
        data: data,
        method : 'POST',
        beforeSend: function() {
          thisButton.css('opacity', '0.5');
        },
        success: function(response, textStatus, jqXHR) {
          // success ajax query
          if('' != response.result && 'error' != response.result) {            
            console.log('$("#input-seo-url-" + storeId + "-" + languageId).val() : ' + $('#input-seo-url-' + storeId + '-' + languageId).val());
            console.log('response.result : ' + response.result);
            
            if ('' != $('#input-seo-url-' + storeId + '-' + languageId).val().trim() && $('#input-seo-url-' + storeId + '-' + languageId).val() != response.result) {    
              $('#seo_url_generator_redirects-' + storeId + '-' + languageId).append('<div id="redirect-row-' + '-' + storeId + '-' + languageId + '-' + url_redirects_rows[storeId][languageId] + '" class="row redirect-row recent" style="margin: 10px 0;"><input type="text" name="seo_url_generator_redirects[' + storeId + '][' + languageId + '][]" value="' + $('#input-seo-url-' + storeId + '-' + languageId).data('seo-url-was') + '" class="form-control input-sm col-xs-10" style="width: 100%; width: calc(100% - 120px);" /><div class="col-xs-1"><i class="pull-left fa fa-close text-danger deleteRedirect" style="cursor: pointer;" data-toggle="tooltip" title="{{ sug_button_delete_redirect }}"></i></div></div>');

              url_redirects_rows[storeId][languageId]++;
            }
            
            setTimeout(function() {
              $('#input-seo-url-' + storeId + '-' + languageId).val(response.result);
            }, 100);
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          // Error ajax query
          console.log('AJAX query Error: ' + textStatus);
        },
        complete: function() {
          thisButton.css('opacity', '1');
        },
      });
    }

  {% endif %}  

  // Prevent incorrect SEO URL!
	var inputBorderColorInitial = false;
	
	$('body').on('change', '.redirect-row input', function(e) {
		if (!inputBorderColorInitial) {
			inputBorderColorInitial = $(this).css('border-color');
		}
		
		// reset previous errors
		$(this).css('border-color', inputBorderColorInitial);
		
		$('#sug-error-body').html('');
		
		let hasError = false;
		
		// Check inputed data		
		if ($(this).val().trim() == '') {
			hasError = true;
			$('#sug-error-body').append('<p class="text-danger"><b>{{ sug_redirects_error_empty }}</b></p>');
		}

		if ($(this).val().includes('/')) {
			hasError = true;
			$('#sug-error-body').append('<p class="text-danger"><b>{{ sug_redirects_error_slash }}</b></p>');
		}
		
		if ($(this).val().includes('http')) {
			hasError = true;
			$('#sug-error-body').append('<p class="text-danger"><b>{{ sug_redirects_error_protocol }}</b></p>');
		}
		
		if ($(this).val().includes('.html')) {
			hasError = true;
			$('#sug-error-body').append('<p class="text-warning"><b>{{ sug_redirects_error_html }}</b></p>');
		}
		
		if (hasError) {
			$(this).css('border-color', 'red');
			
			$('#sug-error-body').append('<p class="alert alert-info"><i class="fa fa-info-circle" style="font-size: 1.5em;">&nbsp;</i>  {{ sug_redirects_error_common }}</p>');
			
			$('#sug-error').modal('toggle');
		}
		
    console.log('hasError : ' + hasError);
    console.log($(this).val());
		
  });
	
</script>

<!-- Confirm Modal -->
<div class="modal fade" id="sug-confirm" tabindex="-1" role="dialog" aria-labelledby="sug-confirm" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-warning" id="sug-confirm-title"><i class="fa fa-exclamation-triangle">&nbsp;</i> <b>{{ sug_confirm_title }}</b></h4>
			</div>
			<div class="modal-body">
				{{ sug_confirm_body }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger sug-btn-confirm" id="sug-btn-confirm" data-target=""><i class="fa fa-trash">&nbsp;</i> {{ sug_confirm_btn_yes }}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ sug_confirm_btn_no }}</button>
			</div>
		</div>
	</div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="sug-error" tabindex="-1" role="dialog" aria-labelledby="sug-error" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-danger" id="sug-error-title"><i class="fa fa-exclamation-triangle">&nbsp;</i> <b>{{ sug_redirects_error_title }}</b></h4>
			</div>
			<div class="modal-body" id="sug-error-body"></div>
		</div>
	</div>
</div>
{% endif %}
<!-- /SEO URL Generator . End
============================================================================ -->

{{ footer }}