<div class="modal-dialog modal-lg">
  <div class="modal-content">
	<div class="modal-header">
		<button id="button-close" class="pull-right btn btn-danger btn-sm" type="button">x</button>
		<h4 class="modal-title">{{ ns_text_menu_link }}</h4>
	</div>
	<div id="body-edit-product-name" class="modal-body">
	  <form class="form-horizontal" id="form-link-menu" enctype="multipart/form-data" method="post">
		<div class="form-group">
			<div class="col-sm-12">
				{% for language in languages %} 
					<div class="input-group pull-left">
						<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
						<input id="linkmenu_{{ language['language_id'] }}" class="form-control" type="text" name="menuvh[link][{{ language['language_id'] }}]" value="{{ menuvh['link'][language['language_id']] is defined ? menuvh['link'][language['language_id']] : '' }}" />
					</div>
					{% if (error_link[language['language_id']] is defined) %} 
						<div class="text-danger">{{ error_link[language['language_id']] }}</div>
					{% endif %} 
				{% endfor %} 
			</div>
		</div>
	  </form>
	</div>
	<div class="modal-footer">
	  <div class="text-center"><a onclick="saveEditor();" class="button-save btn btn-info btn-lg" data-form="form-link-menu"><i class="fa fa-save fa-fw"></i>{{ button_save }}</a></div>
	</div>
  </div>
<script type="text/javascript">
function saveEditor() {	
	$.ajax({
		url: 'index.php?route=extension/module/speedy_menu{{ sheme is defined?sheme:''}}/saveLinkMenu&user_token={{ user_token }}&megamenu_id={{ megamenu_id }}',
		type: 'post',
		dataType: 'json',
		data: $('#form-link-menu').serialize(),
		success: function(json) {
		$('.alert.alert-danger').remove()
			if (json['warning']) {
				$('#form-link-menu').before('<div class="alert alert-danger"><i class="fa fa-check-circle"></i> ' + json['warning'] + '</div>');	
			}
			if (json['success']) {
				$('#form-link-menu').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');			
				
				setTimeout(function(){
					$('#link-modal-{{ megamenu_id }}').modal('hide');
					$('#link-content-{{ megamenu_id }}').empty();		
				}, 1000)
				setTimeout(function(){
					location.reload();	
				}, 1500)
			}
		}
	});
}
  
$('#button-close').on('click', function() {
	$('#link-modal-{{ megamenu_id }}').modal('hide');
	$('#link-content-{{ megamenu_id }}').empty();			
});
</script>
</div>