{{ header }}
<div id="account-address" class="container account_info">
  <div class="columns">
    {{ column_left }}
    <div id="content" class="{{ class }}">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      <h1>{{ text_address_book }}</h1>
      {{ content_top }}
      {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
      {% endif %}
      {% if error_warning %}
      <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
      {% endif %}
      {% if addresses %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          {% for result in addresses %}
           <form  action="{{ result.delete }}" method="post" enctype="multipart/form-data" id="form-address-{{ result.address_id }}">
          <tr>
            <td class="text-left">{{ result.address }}</td>
            <td class="text-right"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; 
            <a href = "{{ result.delete }}" class="btn btn-danger" onclick="return confirm('{{ text_confirm }}')">{{ button_delete }}</a></td>
          </tr>
          </form>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ back }}" class="btn btn-default btn-gray-s">{{ button_back }}</a></div>
        <div class="pull-right"><a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a></div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}