{{ header }}{{ column_left }} 
<div id="content">
 <div class="page-header">
    <div class="container-fluid">
    <div class="pull-right">
      <div class="buttons">
        <a class="btn btn-primary" onclick="$('#form-megamenuvh-item').submit();" class="button"><span  data-toggle="tooltip" title="{{ button_save }}" ><i class="fa fa-save"></i></span></a>
        <a class="btn btn-default" onclick="location = '{{ cancel }}';" class="button"><span  data-toggle="tooltip" title="{{ button_cancel }}" ><i class="fa fa-reply"></i></span></a>
      </div>
    </div>
    <h1>{{ heading_title_text }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %} 
      <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
      {% endfor %} 
    </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
      <div class="alert alert-danger">{{ error_warning }}</div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit_form }}</h3>
      </div>
    </div>
    <div class="panel-body">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-megamenuvh-item" class="form-horizontal">
        <div class="form-group required">
          <label class="col-sm-3 control-label">{{ ns_text_menu_name }}</label>
          <div class="col-sm-9">
            {% for language in languages %} 
              <div class="input-group pull-left">
                <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                <input id="namemenu_{{ language['language_id'] }}" class="form-control" type="text" name="menuvh[namemenu][{{ language['language_id'] }}]" value="{{ menuvh['namemenu'][language['language_id']] is defined ? menuvh['namemenu'][language['language_id']] : '' }}" />
              </div>
              {% if (error_namemenu[language['language_id']] is defined) %} 
                <div class="text-danger">{{ error_namemenu[language['language_id']] }}</div>
              {% endif %} 
            {% endfor %} 
          </div>
        </div>
        <div class="form-group additional_menu11">
          <label class="col-sm-3 control-label" for="input-additional-menu">{{ ns_text_additional_menu }}</label>
          <div class="col-sm-9">
            <select name="menuvh[additional_menu]" id="input-status-additional-menu" class="form-control">
              {% if (menuvh['additional_menu'] == 'additional') %} 
                <option value="additional" selected="selected">{{ text_enabled }}</option>
                <option value="left">{{ text_disabled }}</option>
              {% else %} 
                <option value="additional">{{ text_enabled }}</option>
                <option value="left" selected="selected">{{ text_disabled }}</option>
              {% endif %} 
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{ ns_text_menu_link }}</label>
          <div class="col-sm-9">
            {% for language in languages %} 
              <div class="input-group pull-left">
                <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                <input id="linkmenu_{{ language['language_id'] }}" class="form-control" type="text" name="menuvh[link][{{ language['language_id'] }}]" value="{{ menuvh['link'][language['language_id']] is defined ? menuvh['link'][language['language_id']] : '' }}" />
              </div>
              {% if (error_link[language['language_id']] is defined) %} 
                <div class="text-danger">{{ error_link[language['language_id']] }}</div>
              {% endif %} 
            {% endfor %} 
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-3 control-label">{{ ns_text_type }}</label>
          <div class="col-sm-9">
            <select onChange="sel_type_category()"  name="menuvh[menu_type]" id="input-menu-type" class="form-control">                     
              <option value="0">{{ text_select }}</option>
              <option value="category" {% if (menuvh['menu_type'] is defined and (menuvh['menu_type'] == 'category')) %} selected="selected" {% endif %}>{{ ns_text_type_category }}</option>
              <option value="html" {% if (menuvh['menu_type'] is defined and (menuvh['menu_type'] == 'html')) %} selected="selected" {% endif %}>{{ ns_text_type_html }}</option>
              <option value="manufacturer" {% if (menuvh['menu_type'] is defined and (menuvh['menu_type'] == 'manufacturer')) %} selected="selected" {% endif %}>{{ ns_text_type_manufacturer }}</option>
              <option value="information" {% if (menuvh['menu_type'] is defined and (menuvh['menu_type'] == 'information')) %} selected="selected" {% endif %}>{{ ns_text_type_information }}</option>
              <option value="product" {% if (menuvh['menu_type'] is defined and (menuvh['menu_type'] == 'product')) %} selected="selected" {% endif %}>{{ ns_text_type_product }}</option>                      
              <option value="freelink" {% if (menuvh['menu_type'] is defined and (menuvh['menu_type'] == 'freelink')) %} selected="selected" {% endif %}>{{ ns_text_type_freelink }}</option>                     
              <option value="link" {% if (menuvh['menu_type'] is defined and (menuvh['menu_type'] == 'link')) %} selected="selected" {% endif %}>{{ ns_text_type_link }}</option>
            </select>
            {% if (error_menu_type is not empty) %} 
              <div class="text-danger">{{ error_menu_type }}</div>
            {% endif %} 
          </div>
        </div>
        
        <div class="show_elements show_elements_category">      
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input_variant_category">{{ ns_type_dropdown_list }}</label>
            <div class="col-sm-9">
              <select onChange="sel_type_category()" name="menuvh[category_setting][variant_category]" id="input_variant_category" class="form-control">
                <option value="simple" {% if (variant_category is defined and (variant_category == 'simple')) %} selected="selected" {% endif %}>{{ ns_type_dropdown_simple }}</option>
                <option value="full" {% if (variant_category is defined and (variant_category == 'full')) %} selected="selected" {% endif %}>{{ ns_type_dropdown_full }}</option>
                <option value="full_image" {% if (variant_category is defined and (variant_category == 'full_image')) %} selected="selected" {% endif %}>{{ ns_type_dropdown_full_image }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-category_show_subcategory">{{ ns_show_sub_categories }}</label>
            <div class="col-sm-9">
              <select id="input-category_show_subcategory" name="menuvh[category_setting][show_sub_category]" class="form-control">
                {% if (show_sub_category) %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>                   
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ ns_text_product_width }}</label>
            <div class="col-sm-9">
              <input type="text" name="menuvh[category_setting][category_img_width]" value="{{ category_img_width is defined ? category_img_width : 50 }}" placeholder="{{ ns_text_product_width }}" class="form-control" />                   
            </div>
          </div>    
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ ns_text_product_height }}</label>
            <div class="col-sm-9">
              <input type="text" name="menuvh[category_setting][category_img_height]" value="{{ category_img_height is defined ? category_img_height : 50 }}" placeholder="{{ ns_text_product_height }}" class="form-control" />                   
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-category">{{ ns_text_category }}</label>
            <div class="col-sm-9">
              <input type="text" name="category" value="" placeholder="{{ ns_text_category }}" id="input-category" class="form-control" />
              <div id="category-category" class="well well-sm" style="height: 450px; overflow: auto;">
                {% if (category_list_sel is not empty) %} 
                  {% for category_list in category_list_sel %} 
                    <div class="row-category-menu" id="category-item-{{ category_list['category_id'] }}">
                      <i class="del-cat fa fa-minus-circle"></i>
                      {{ category_list['name'] }} 
                      <input type="hidden" name="menuvh[category_setting][category_list][]" value="{{ category_list['category_id'] }}" />
                    </div>
                  {% endfor %}  
                {% endif %} 
              </div>
            </div>
          </div>              
        </div>
        <div class="show_elements show_elements_html">
          <label class="col-sm-3 control-label">{{ ns_text_html_description }}</label>
          <div class="col-sm-9">
            <ul class="nav nav-tabs" id="language_html">
              {% for language in languages %} 
                <li><a href="#language_html_{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
              {% endfor %} 
            </ul>
            <div class="tab-content">
              {% for language in languages %} 
                <div class="tab-pane" id="language_html_{{ language['language_id'] }}">
                  <div class="form-group">
                    <textarea data-toggle="summernote" data-lang="{{ summernote }}" class="form-control" name="menuvh[html_block][{{ language['language_id'] }}]" id="html_description_{{ language['language_id'] }}">{{ html_block[language['language_id']] is defined ? html_block[language['language_id']] : '' }}</textarea>
                  </div>
                </div>
              {% endfor %} 
            </div>  
          </div>  
        </div>
        <div class="show_elements show_elements_manufacturer">
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ ns_type_dropdown_list }}</label>
            <div class="col-sm-9">
              <select name="menuvh[manufacturers_setting][type_manuf]" class="form-control">
                <option {% if (type_manuf is defined and (type_manuf == 'type_image')) %} selected="selected" {% endif %} value="type_image">{{ ns_type_manuf_image }}</option>
                <option {% if (type_manuf is defined and (type_manuf == 'type_alphabet')) %} selected="selected" {% endif %} value="type_alphabet">{{ ns_type_manuf_alphabet_image }}</option>
                
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ ns_text_manufacturer }}</label>
            <div class="col-sm-9">
              <div class="well well-sm">
                {% for manufacturer in manufacturers_list %}
                  <div class="checkbox">
                    <label>
                      {% if manufacturer.manufacturer_id in manufacturers_sel_id %}
                        <input checked="checked" type="checkbox" name="menuvh[manufacturers_setting][manufacturers_list][]" value="{{ manufacturer['manufacturer_id']}}"/> {{ manufacturer['name']}} 
                      {% else %} 
                        <input type="checkbox" name="menuvh[manufacturers_setting][manufacturers_list][]" value="{{ manufacturer['manufacturer_id']}}"/> {{ manufacturer['name']}} 
                      {% endif %} 
                    </label>
                  </div>
                {% endfor %} 
              </div>
            </div>
          </div>  
        </div>
        
        <div class="show_elements show_elements_information">
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ ns_text_information }}</label>
            <div class="col-sm-9">
              <div class="well well-sm">
                {% for information in informations_list %} 
                  <div class="checkbox">
                    <label>
                      {% if information.information_id in menuvh['informations_sel_id'] %}
                        <input checked="checked" type="checkbox" name="menuvh[informations_list][]" value="{{ information['information_id'] }}"/> {{ information['title'] }} 
                      {% else %} 
                        <input type="checkbox" name="menuvh[informations_list][]" value="{{ information['information_id'] }}"/> {{ information['title'] }} 
                      {% endif %} 
                    </label>
                  </div>
                {% endfor %}                
              </div>
            </div>
          </div>
        </div>
        <div class="show_elements show_elements_product">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-product_width">{{ ns_text_product_width }}</label>
            <div class="col-sm-9">
              <input type="text" name="menuvh[product][product_width]" value="{{ product_width is defined ? product_width : 50 }}" placeholder="{{ ns_text_product_width }}" id="input-product_width" class="form-control" />                  
            </div>
          </div>    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-product_height">{{ ns_text_product_height }}</label>
            <div class="col-sm-9">
              <input type="text" name="menuvh[product][product_height]" value="{{ product_height is defined ? product_height : 50 }}" placeholder="{{ ns_text_product_height }}" id="input-product_height" class="form-control" />                   
            </div>
          </div>    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-product">{{ ns_text_product }}</label>
            <div class="col-sm-9">
              <input type="text" name="product" value="" placeholder="{{ ns_text_product }}" id="input-product" class="form-control" />
              <div id="product-product" class="well well-sm" style="height: 250px; overflow: auto;">
                {% if (products_list_sel is not empty) %} 
                  {% for products_list in products_list_sel %} 
                  <div id="product-item-{{ products_list['product_id'] }}"><i class="fa fa-minus-circle"></i> {{ products_list['name'] }} 
                    <input type="hidden" name="menuvh[product][products_list][]" value="{{ products_list['product_id'] }}" />
                  </div>
                  {% endfor %} 
                {% endif %} 
              </div>
            </div>
          </div>
        </div>
        
        <div class="show_elements show_elements_link">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-product">{{ ns_text_link_options }}</label>
            <div class="col-sm-9">
              <select id="input-use_target_blank" name="menuvh[use_target_blank]" class="form-control">
                {% if (use_target_blank) %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
        </div>
        <div class="show_elements show_elements_freelink">
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input_variant_category">{{ ns_type_dropdown_list }}</label>
            <div class="col-sm-9">
              <select onChange="sel_type_category()" name="menuvh[sfl][variant_category]" id="input_variant_freelink" class="form-control">
                <option {% if (sfl['variant_category'] is defined and (sfl['variant_category'] == 'simple')) %} selected="selected" {% endif %} value="simple">{{ ns_type_dropdown_simple }}</option>
                <option {% if (sfl['variant_category'] is defined and (sfl['variant_category'] == 'full')) %} selected="selected" {% endif %} value="full">{{ ns_type_dropdown_full }}</option>
                <option {% if (sfl['variant_category'] is defined and (sfl['variant_category'] == 'full_image')) %} selected="selected" {% endif %} value="full_image">{{ ns_type_dropdown_full_image }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ ns_text_product_width }}</label>
            <div class="col-sm-9">
              <input type="text" name="menuvh[sfl][freelink_img_width]" value="{{ sfl['freelink_img_width'] is defined?sfl['freelink_img_width']:50}}" placeholder="{{ ns_text_product_width }}" class="form-control" />                   
            </div>
          </div>    
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ ns_text_product_height }}</label>
            <div class="col-sm-9">
              <input type="text" name="menuvh[sfl][freelink_img_height]" value="{{ sfl['freelink_img_height'] is defined?sfl['freelink_img_height']:50}}" placeholder="{{ ns_text_product_height }}" class="form-control" />                   
            </div>
          </div>
                  
          <ul class="nav nav-tabs" id="language-freelink-menu">
            {% for language in languages %} 
            <li><a href="#language-freelink-{{ language['language_id'] }}" data-toggle="tab">
            <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
            {% endfor %} 
          </ul>
          <div class="tab-content">
          {% for language in languages %} 
            <div class="tab-pane" id="language-freelink-{{ language['language_id'] }}"> 
              <table id="freelinkitems" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td>{{ ns_text_thumb }}</td>
                    <td>{{ ns_text_menu_name }}</td>
                    <td>{{ ns_text_type_link }}</td>
                    <td>{{ column_3level }}</td>
                    <td>{{ ns_text_sort_menu }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                {% set freelinkitem_row = 0 %} 
                {% if (freelink_items[language['language_id']] is defined) %}
                {% for freelink_item in freelink_items[language['language_id']] %} 
                  <tr id="freelinkitem-row{{ freelinkitem_row }}">
                    <td class="text-center">
                      <a href="" id="thumb-image-freelink-{{ freelinkitem_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ freelink_item['thumb'] }}" alt="" title="" data-placeholder="{{ placeholder }}"  /></a>
                      <input type="hidden" name="menuvh[sfl][freelink_item][{{ language['language_id'] }}][{{ freelinkitem_row }}][image]" value="{{ freelink_item['image'] }}" id="input-image-freelink-{{ freelinkitem_row }}" />
                    </td>
                    <td class="text-left">
                      <input class="form-control" type="text" name="menuvh[sfl][freelink_item][{{ language['language_id'] }}][{{ freelinkitem_row }}][title]" value="{{ freelink_item['title'] }}" />
                    </td>
                    <td class="text-left">
                      <input class="form-control" type="text" name="menuvh[sfl][freelink_item][{{ language['language_id'] }}][{{ freelinkitem_row }}][link]" value="{{ freelink_item['link'] }}" />
                    </td>
                    <td class="text-left ns-input-group" style="min-width:250px;">
                      {% set freelinkitem_row3level = 0 %} 
                      <div id="subcatfreelink{{ freelinkitem_row }}">
                        {% if (freelink_item['subcat'] is defined) %} 
                        {% for subcat3level in freelink_item['subcat'] %}
                          <div id="subcatfreelink-row-{{ freelinkitem_row }}{{ freelinkitem_row3level }}">
                            <div class="input-group">
                              <input class="form-control" type="text" name="menuvh[sfl][freelink_item][{{ language['language_id'] }}][{{ freelinkitem_row }}][subcat][{{ freelinkitem_row3level }}][title]" value="{{ subcat3level['title'] is defined ? subcat3level['title'] : '' }}" />      
                              <input class="form-control" type="text" name="menuvh[sfl][freelink_item][{{ language['language_id'] }}][{{ freelinkitem_row }}][subcat][{{ freelinkitem_row3level }}][link]" value="{{ subcat3level['link'] is defined ? subcat3level['link'] : '' }}" />
                              <span class="input-group-addon"><a class="text-danger" onclick="$('#language-freelink-{{ language['language_id'] }} #subcatfreelink-row-{{ freelinkitem_row }}{{ freelinkitem_row3level }}').remove();" data-toggle="tooltip" title="{{ text_delete }}"><i class="fa fa-trash-o"></i></a></span>
                            </div>
                          <hr>
                          {% set freelinkitem_row3level = freelinkitem_row3level + 1 %} 
                          </div>  
                        {% endfor %} 
                        {% endif %} 
                      <input type="hidden" id="subcatfreelink-row-number-{{ freelinkitem_row }}" value="{{ freelinkitem_row3level }}">  
                      </div>
                      <a class="btn btn-success" onclick="addFreelinkItem3level('{{ freelinkitem_row }}','{{ language['language_id'] }}');">{{ text_add }}</a>
                    </td>
                    <td class="text-left">
                      <input  class="form-control" type="text" name="menuvh[sfl][freelink_item][{{ language['language_id'] }}][{{ freelinkitem_row }}][sort]" value="{{ freelink_item['sort'] }}" />
                    </td>
                    <td class="text-right">
                      <a class="btn btn-danger" onclick="$('#freelinkitem-row{{ freelinkitem_row }}').remove();" data-toggle="tooltip" title="{{ text_delete }}"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                {% set freelinkitem_row = freelinkitem_row + 1 %} 
                {% endfor %} 
                {% endif %} 
                <input type="hidden" id="freelink-row-number" value="{{ freelinkitem_row }}"> 
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4"></td>
                    <td class="text-right"><a class="btn btn-primary" onclick="addFreelinkItem('{{ language['language_id'] }}');" data-toggle="tooltip" title="{{ text_add }}"><i class="fa fa-plus-circle"></i></a></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          {% endfor %} 
          </div>
        </div>
        
        <div class="show_elements_add_html">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="input_use_html_category">{{ ns_text_add_html }}</label>
          <div class="col-sm-9">
            <div class="form-group">
              <div class="col-sm-12">
                <select id="input_use_html_category" name="menuvh[use_add_html]" class="form-control">
                  {% if (use_add_html) %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %} 
                </select>               
              </div>
            </div>
            <ul class="nav nav-tabs" id="language_add_html">
              {% for language in languages %} 
                <li><a href="#language_add_html_{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
              {% endfor %} 
            </ul>
            <div class="tab-content">
              {% for language in languages %} 
                <div class="tab-pane" id="language_add_html_{{ language['language_id'] }}">
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <textarea data-toggle="summernote" data-lang="{{ summernote }}" class="form-control" name="menuvh[add_html][{{ language['language_id'] }}]" id="input_add_html_description_{{ language['language_id'] }}">{{ add_html[language['language_id']] is defined ? add_html[language['language_id']] : '' }}</textarea>
                    </div>
                  </div>
                </div>
              {% endfor %} 
            </div>
          </div>
        </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="input-status">{{ ns_text_status }}</label>
          <div class="col-sm-9">
            <select name="menuvh[status]" id="input-status" class="form-control">
              {% if (menuvh['status']) %} 
              <option value="1" selected="selected">{{ text_enabled }}</option>
              <option value="0">{{ text_disabled }}</option>
              {% else %} 
              <option value="1">{{ text_enabled }}</option>
              <option value="0" selected="selected">{{ text_disabled }}</option>
              {% endif %} 
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="input-status">{{ ns_text_sticker_parent }}</label>
          <div class="col-sm-9">
            {% for language in languages %} 
              <div class="input-group pull-left">
                <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                <input id="sticker_parent_{{ language['language_id'] }}" class="form-control" type="text" name="menuvh[sticker_parent][{{ language['language_id'] }}]" value="{{ menuvh['sticker_parent'][language['language_id']] is defined ? menuvh['sticker_parent'][language['language_id']] : '' }}" />
              </div>
            {% endfor %} 
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{ ns_text_sticker_parent_bg }}</label>
          <div class="col-sm-9">
            <input class="form-control color" type="text" name="menuvh[sticker_parent_bg]" value="{{ menuvh['sticker_parent_bg'] is defined ? menuvh['sticker_parent_bg'] : '' }}" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{ ns_text_sticker_parent_color }}</label>
          <div class="col-sm-9">
            <input class="form-control color" type="text" name="menuvh[spctext]" value="{{ menuvh['spctext'] is defined ? menuvh['spctext'] : '' }}" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{ ns_text_sort_menu }}</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" name="menuvh[sort_menu]" value="{{ menuvh['sort_menu'] is defined ? menuvh['sort_menu'] : '' }}" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="input-image">{{ ns_text_thumb }}</label>
          <div class="col-sm-9">
            <a href="" id="thumb-image-menu" data-toggle="image" class="img-thumbnail"><img src="{{ menuvh['thumb'] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
            <input type="hidden" name="menuvh[image]" value="{{ menuvh['image'] }}" id="input-image-menu" />
          </div>                
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="input-image-hover">{{ ns_text_thumb_hover }}</label>
          <div class="col-sm-9">
            <a href="" id="thumb-image-menu-hover" data-toggle="image" class="img-thumbnail"><img src="{{ menuvh['thumb_hover'] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
            <input type="hidden" name="menuvh[image_hover]" value="{{ menuvh['image_hover'] }}" id="input-image-menu-hover" />
          </div>                
        </div>
        
      </form>
    </div>
  </div>

</div>
 <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
<script>
$(document).ready(function() {  
  sel_type_category();
  $('#language_add_html a:first').tab('show');
  $('#language_html a:first').tab('show');
  $('#language-freelink-menu a:first').tab('show');
});
function sel_type_category(){
  $('.show_elements').hide(); 
  sel_menu_type = $("#input-menu-type :selected").val();    
  sel_category_type = $("#input_variant_category :selected").val();
  //sel_category_type = $("#input_variant_freelink :selected").val();
  $(".show_elements_"+sel_menu_type).show();
  
    if((sel_menu_type=="category" && (sel_category_type=="simple" || sel_category_type=="0")) || sel_menu_type=="0" || sel_menu_type=="freelink" || sel_menu_type=="link" || sel_menu_type=="html"){
      $('.show_elements_add_html').hide();
    } else {
      $('.show_elements_add_html').show();
    } 
}



$('#input-category').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {       
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['category_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('#input-category').val('');   
    $('#category-item-' + item['value']).remove();  
    cathtml1  = '<div class="row-category-menu" id="category-item-' + item['value'] + '">';
    cathtml1 += '<i class="del-cat fa fa-minus-circle"></i>';
    cathtml1 += '<span>'+item['label']+'</span>';   
    cathtml1 += '<input type="hidden" name="menuvh[category_setting][category_list][]" value="' + item['value'] + '" /></div>';
    
    $('#category-category').append(cathtml1); 
  }
});
$('#category-category').delegate('.del-cat', 'click', function() {
  $(this).parent().remove();
});

$('#input-product').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('#input-product').val('');    
    $('#product-item' + item['value']).remove();    
    $('#product-product').append('<div id="product-item' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="menuvh[product][products_list][]" value="' + item['value'] + '" /></div>');  
  }
});
$('#product-product').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});


function addFreelinkItem(language_id) {
  var freelinkitem_row = $('#freelink-row-number').val();
  $('#freelink-row-number').val(parseInt(freelinkitem_row) + 1);
  html  = '<tr id="freelinkitem-row'+ freelinkitem_row +'">';
  html += '<td class="text-center"><a href="" id="thumb-image-freelink-'+ freelinkitem_row +'" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}"  /></a><input type="hidden" name="menuvh[sfl][freelink_item]['+ language_id +']['+ freelinkitem_row +'][image]" value="" id="input-image-freelink-'+ freelinkitem_row +'" /></td>';
  html += '<td class="text-left">';
  html += '<input class="form-control" type="text" name="menuvh[sfl][freelink_item]['+ language_id +']['+ freelinkitem_row +'][title]" value="" />';
  html += '</td>';
  html += '<td class="text-left">';
  html += '<input class="form-control"  type="text" name="menuvh[sfl][freelink_item]['+ language_id +']['+ freelinkitem_row +'][link]" value="" />';
  html += '<td class="text-left ns-input-group" style="min-width:250px;">';
  html += ' <div id="subcatfreelink'+ freelinkitem_row +'">';
  html += '   <input type="hidden" id="subcatfreelink-row-number-'+ freelinkitem_row +'" value="0">'; 
  html += ' </div>';
  html += ' <a class="btn btn-success" onclick="addFreelinkItem3level('+ freelinkitem_row +',\''+ language_id +'\');">{{ text_add }}</a>';
  html += '</td>';
  html += '</td>';
  html += '<td class="text-left"><input class="form-control" type="text" name="menuvh[sfl][freelink_item]['+ language_id +']['+ freelinkitem_row +'][sort]" size="1" value="" /></td>';
  html += '<td class="text-right"><a class="btn btn-danger" onclick="$(\'#freelinkitem-row'+ freelinkitem_row +'\').remove();" data-toggle="tooltip" title="{{ text_delete }}"><i class="fa fa-trash-o"></i></a></td>';
  html += '</tr>'; 
  
  $('#language-freelink-'+ language_id +' #freelinkitems tbody').append(html);

  freelinkitem_row++;
}
      

function addFreelinkItem3level(freelinkitem_row,language_id) {
  var freelinkitem_row3level = $('#subcatfreelink-row-number-'+ freelinkitem_row).val();
  $('#subcatfreelink-row-number-'+ freelinkitem_row).val(parseInt(freelinkitem_row3level) + 1);
  html  = '<div id="subcatfreelink-row-'+ freelinkitem_row + freelinkitem_row3level+'">';
  html += '<div class="input-group">';
  html += '<input class="form-control" type="text" name="menuvh[sfl][freelink_item]['+ language_id +']['+ freelinkitem_row +'][subcat]['+ freelinkitem_row3level +'][title]" value="" />';        
  html += '<input class="form-control" type="text" name="menuvh[sfl][freelink_item]['+ language_id +']['+ freelinkitem_row +'][subcat]['+ freelinkitem_row3level +'][link]" value="" />';
  html += '<span class="input-group-addon"><a class="text-danger" onclick="$(\'#language-freelink-'+ language_id +' #subcatfreelink-row-'+ freelinkitem_row + freelinkitem_row3level+'\').remove();" data-toggle="tooltip" title="{{ text_delete }}"><i class="fa fa-trash-o"></i></a></span>';
  html += '</div><hr>';
  html += '</div>';
  $('#language-freelink-'+ language_id +' #subcatfreelink'+freelinkitem_row).append(html);

  freelinkitem_row3level++;
}
</script>
{{ footer }} 
