{{ header }}{{ column_left }}
<div id="content" class="dc_pro_theme">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title_text }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-9">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-type">{{ entry_type }}</label>
            <div class="col-sm-9">
              <select name="type" id="type_banner_product" class="form-control">
              {% if type == 'list' %}
                  <option value="list" selected="selected">{{ text_list }}</option>
                  <option value="list2">{{ text_list2 }}</option>
                  <option value="carousel">{{ text_carousel }}</option>
              {% elseif type == 'list2' %}
                  <option value="list">{{ text_list }}</option>
                  <option value="list2" selected="selected">{{ text_list2 }}</option>
                  <option value="carousel">{{ text_carousel }}</option>
              {% else %}
                  <option value="list">{{ text_list }}</option>
                  <option value="list2">{{ text_list2 }}</option>
                  <option value="carousel" selected="selected">{{ text_carousel }}</option>
              {% endif %}
              </select>
              <br>
              {% if type == 'list' %}
              <img class="img_list" src="view/image/banner_product_list.png" alt="">
              <img style="display: none;"class="img_list2" src="view/image/banner_product_list2.png" alt="">
              <img style="display: none;"class="img_carousel" src="view/image/banner_product_carousel.png" alt="">
              {% elseif type == 'list2' %}
              <img style="display: none;"class="img_list" src="view/image/banner_product_list.png" alt="">
              <img class="img_list2" src="view/image/banner_product_list2.png" alt="">
              <img style="display: none;" class="img_carousel" src="view/image/banner_product_carousel.png" alt="">
              {% else %}
              <img style="display: none;"class="img_list" src="view/image/banner_product_list.png" alt="">
              <img style="display: none;"class="img_list2" src="view/image/banner_product_list2.png" alt="">
              <img class="img_carousel" src="view/image/banner_product_carousel.png" alt="">
              {% endif %}
            </div>
          </div>
          <div class="form-group type_lists">
            <label class="col-sm-3 control-label" for="input-type">{{ entry_row }}</label>
            <div class="col-sm-9">
              <select name="column" id="type_banner_product" class="form-control">
              {% if column == 3 %}
                  <option value="3" selected="selected">3</option>
                  <option value="4">4</option>
              {% else %}
                  <option value="3">3</option>
                  <option value="4" selected="selected">4</option>
              {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-image-size-pc">Размеры изображений</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-image-size-pc" class="form-control" />
                </div>
                <div class="col-sm-6">
                  <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" class="form-control" />
                </div>
              </div>
              <div class="alert alert-warning alert-bottom">Внимание! Имеет смысл загруждать только прозрачные, каталожные фотографии товаров, подобные тем, которые в демо. В таком виде это будет уместно и красиво.</div>
            </div>
          </div>
          <div class="tab-pane">
            <ul class="nav nav-tabs" id="language-banner">
              {% for language in languages %}
              <li><a href="#language-banner{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
            {% set image_row = 0 %}
              {% for language in languages %}
              <div class="tab-pane" id="language-banner{{ language.language_id }}">
                <div class="form-group">
                <div class="col-sm-12">
                  <table id="banners{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                        <tbody>
                          {% if banner_description[language.language_id].blocks %}
                          {% for block in banner_description[language.language_id].blocks %}
                          <tr id="image-row{{ image_row }}">
                            <!--- Image + Text --->
                            <td class="text-center" style="width:120px">
                              <p>{{ entry_image }}</p>
                              <a href="" id="thumb-it-image{{ image_row }}" data-toggle="image" class="img-thumbnail">
                                <img src="{% if block.image %}../image/{{ block.image }}{% else %}{{ placeholder }}{% endif %}" alt="" title="" data-placeholder="Image" class="img-responsive" width="100" height="100"/></a>
                                <input type="hidden" name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][image]" value="{{ block.image }}" id="input-it-image{{ image_row }}" />
                            </td>
                            <td class="text-left">
                              <p>Фон</p>
                              <p><input type="text" name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][background_color]" value="{{ block.background_color }}" placeholder="Фон" class="form-control colorpicker" /></p>
                            </td>
                            <td class="text-left">
                              <p>Заголовок</p>
                              <p><input type="text" name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][title]" value="{{ block.title }}" placeholder="Заголовок" class="form-control" /></p>
                            </td>
                            <td class="text-left">
                              <p>Ссылка</p>
                              <p><input type="text" name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][link]" value="{{ block.link }}" placeholder="{{ text_link }}" class="form-control" /></p>
                            </td>
                            <td class="text-left">
                              <p>Стиль ссылки</p>
                              <p>
                                <select name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][button_type]" class="form-control">
                                    {% if block.button_type %}
                                      <option value="1" selected="selected">Кнопка</option>
                                      <option value="0">Ссылка</option>
                                    {% else %}
                                      <option value="1">Кнопка</option>
                                      <option value="0" selected="selected">Ссылка</option>
                                    {% endif %}
                                  </select>
                              </p>
                            </td>
                            <td class="text-left">
                              <p>Текст ссылки</p>
                              <p><input type="text" name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][button_text]" value="{{ block.button_text }}" placeholder="Текст ссылки" class="form-control" /></p>
                            </td>
                            <td class="text-left">
                              <p>Текст стикера</p>
                              <p><input type="text" name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][sticker]" value="{{ block.sticker }}" placeholder="Текст стикера" class="form-control" /></p>
                            </td>
                            <td class="text-left">
                              <p>Цена</p>
                              <p><input type="text" name="banner_description[{{ language.language_id }}][blocks][{{ image_row }}][price]" value="{{ block.price }}" placeholder="Цена" class="form-control" /></p>
                            </td>
                            <!--- --->
                            <td class="text-left" style="width:56px">
                              <button type="button" onclick="$('#image-row{{ image_row }}, .tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                            </td>
                          </tr>
                          {% set image_row = image_row + 1 %}
                          {% endfor %}
                          {% endif %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <td class="text-left" style="width:56px"><button type="button" onclick="addBanner('{{ language.language_id }}');" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<script>
  // Проверка на тип ширины чтоб включалась нужна картинка
  $("#type_banner_product").on('change', function() {
    if($("#type_banner_product :selected").val() == 'list') {
      $(".img_list").css({"display":"revert"});
      $(".img_list2").css({"display":"none"});
      $(".img_carousel").css({"display":"none"});
    } else if($("#type_banner_product :selected").val() == 'list2') {
      $(".img_list").css({"display":"none"});
      $(".img_list2").css({"display":"revert"});
      $(".img_carousel").css({"display":"none"});
    } else {
      $(".img_list").css({"display":"none"});
      $(".img_list2").css({"display":"none"});
      $(".img_carousel").css({"display":"revert"});
    }
  })
  //
</script>
<script type="text/javascript"><!--
$('#language-banner a:first').tab('show');
//--></script>
<script type="text/javascript"><!--
var image_row = {{ image_row }};

function addBanner(language_id) {
  html  = '<tr id="image-row' + image_row + '">';
  //Image + Text
  html += '  <td class="text-center" style="width:120px"><p>{{ entry_image }}</p><a href="" id="thumb-it-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="banner_description[' + language_id + '][blocks][' + image_row + '][image]" value="" id="input-it-image' + image_row + '" /></td>';
  html += ' <td class="text-left"><p>Фон</p><p><input type="text" name="banner_description[' + language_id + '][blocks][' + image_row + '][background_color]" value="{{ block.background_color }}" placeholder="Фон" class="form-control colorpicker" /></p></td>';
  html += ' <td class="text-left"><p>Заголовок</p><p><input type="text" name="banner_description[' + language_id + '][blocks][' + image_row + '][title]" value="{{ block.title }}" placeholder="Заголовок" class="form-control" /></p></td>';
  html += '  <td class="text-left"><p>Ссылка</p><p><input type="text" name="banner_description[' + language_id + '][blocks][' + image_row + '][link]" value="" placeholder="{{ text_link }}" class="form-control" /></p></td>';
  html += '  <td class="text-left"><p>Стиль ссылки</p><p><select name="banner_description[' + language_id + '][blocks][' + image_row + '][button_type]" class="form-control">';
  html += '    <option value="1">Кнопка</option>';
  html += '    <option value="0">Ссылка</option>';
  html += '  </select></p></td>';
  html += ' <td class="text-left"><p>Текст ссылки</p><p><input type="text" name="banner_description[' + language_id + '][blocks][' + image_row + '][button_text]" value="{{ block.button_text }}" placeholder="Текст ссылки" class="form-control" /></p></td>';
  html += ' <td class="text-left"><p>Текст стикера</p><p><input type="text" name="banner_description[' + language_id + '][blocks][' + image_row + '][sticker]" value="{{ block.sticker }}" placeholder="Текст стикера" class="form-control" /></p></td>';
  html += ' <td class="text-left"><p>Цена</p><p><input type="text" name="banner_description[' + language_id + '][blocks][' + image_row + '][price]" value="{{ block.price }}" placeholder="Цена" class="form-control" /></p></td>';
  html += '  <td class="text-left" style="width:56px"><button type="button" onclick="$(\'#image-row' + image_row + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';
  $('#banners' + language_id + ' tbody').append(html);
  
  image_row++;

  $('.colorpicker').spectrum({type: "component"});
}
//--></script>
</div>
<script>
  $('.colorpicker').spectrum({type: "component"});
</script>
{{ footer }}
