{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <!-- <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button> -->
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title_short }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if update_cms %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> Новое обновление <span class="header_new_version_cms"></span></h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-warning">Пожалуйста, сделайте резервную копию вашего сайта перед обновлением!</div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Автоматическое обновление
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <button type="button" style="pointer-events: none;opacity: .5;" id="button-upload" data-loading-text="Завантаження..." class="btn btn-primary"><i class="fa fa-upload"></i> Завантажити и установити</button>
                <script>
                  $('#button-upload').on('click', function(){
                    $.ajax({
                      url: 'index.php?route=extension/module/update/download&user_token={{ user_token }}',
                      type: 'post',
                      dataType: 'json',
                      beforeSend: function() {
                        $('#button-upload').button('loading');
                      },
                      complete: function() {
                        $('#button-upload').button('reset');
                        location.reload();
                      }
                    });
                  })
                </script>
                <br>
                <br>
                <span class="backup_ready">
                  <input type="radio" name="backup_ready" id="backup_ready">
                  <label for="backup_ready">Я сделал(а) резервную копию сайта перед обновлением</label>
                </span>
                <script>
                  $(".backup_ready").on('click', function() {
                    $("#button-upload").removeAttr("style");
                  })
                </script>
                <br>
                <br>
                <div class="alert" style="margin-bottom: 0px;border:1px solid #e9e9e9">
                  Архив с обновленными файлами будет автоматически загружен и распакован в корневую папку вашего сайта. Это безопасно.<br>
                  Сторонние (установленные вами) дополнения не пострадают.<br><small>Смотрите список файлов, которые подлежат обновлению.</small><br>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Ручное обновление
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <a target="_blank" href="{{ link }}" class="btn btn-primary"><i class="fa fa-upload"></i> Завантажити</a>
                <br>
                <br>
                <div class="alert" style="margin-bottom: 0px;border:1px solid #e9e9e9">
                  Скачайте архив с обновленными файлами и распакуйте его в корневую папку вашего сайта. Это безопасно.<br>
                  Сторонние (установленные вами) дополнения не пострадают.<br><small>Смотрите список файлов, которые подлежат обновлению.</small><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> {{ entry_log }}</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
            {% if update_cms %}{{ dc_update_log }}{% else %}{{ text_dc_update_emptry }}{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var nextVersionCms = $(".new_version_cms").text();
    $(".header_new_version_cms").text(nextVersionCms);
  })
</script>
{{ footer }}